<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myjobassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/myjoblogo"
        android:label="MyJobAssistant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity android:name=".UpdateMiscellaneous" />
        <activity android:name=".UpdateInformation" />
        <activity android:name=".AddJobRequirement" />
        <activity android:name=".JobAccountDetail" />
        <activity android:name=".AddDocuments" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".update_domain" />
        <activity android:name=".update_experience" />
        <activity android:name=".update_education" />
        <activity android:name=".DomainProfile" />
        <activity android:name=".AddDomain" />
        <activity android:name=".AddExperience" />
        <activity android:name=".AddEducation" />
        <activity android:name=".ProfilePage" />
        <activity
            android:name=".StartApplyJobs"
            android:parentActivityName=".home" />
        <activity android:name=".home" />
        <activity
            android:name=".addinformation"
            android:parentActivityName=".home" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="my-job-assistant-data.firebaseapp.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>